.all-conatiner-info{
  background-color: #8bb5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 40px;
    padding: 20px 0px;
    color: white;
    width: 100vw;
    
}
.info-left{
  display: flex;
  align-items: center;
}
.div-email{
  
  font-size: 15px;
  margin: 0 20px;
}
.title-wallet{
  margin: 20px 0;

  color: white;
}
@media only screen and (max-width: 700px) {
  .all-conatiner-info{
    OVERFLOW: hidden;
    display: flex;
    flex-direction: column;
    height: 103px;
    width: 100vw;
    justify-content: center;
   
  } 
}
@media only screen and (max-width: 635px) {
  .all-containter-wallet{
    overflow: hidden;
  } 
}